body{
    font-family: 'Lato', sans-serif;
}
.navbar-default {
    background: #158c9e;
	border-color: transparent;
}
.navbar {
    border-radius: 0px;
}
.nav-pills>li>a {
    border-radius: 0px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #158c9e;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 0px 0px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    background-color: transparent;
    background-image: none;
    border: transparent;
    border-radius: 0px;
}
.hide-content {
	display:block;
}

#clients, #groups, #placeholder{ display:none; }
